page-login {

    .no-scroll .scroll-content{
        overflow: hidden;
    }

   .img-cloom{
        position: relative;
        display: inline;
        height: 50%;
        top: -60px;
    }

    #card-content{
        position: relative;
        display: inline-block;
        bottom: 50px;
        text-align: center;
        box-shadow: none !important;
    }



}


