
<ion-header no-border>

    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Messages</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>

    <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    
    <div *ngIf="user.role_id == 1 || user.role_id == 2">
    <ion-card (click)="openSentMessModal(sentmessages)">
      <ion-card-header>
        <ion-item>
          <h2>Watch sent messages </h2>
          <ion-badge color="danger" item-end>{{csent}}</ion-badge>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-card *ngIf="messages==''">
      <ion-card-header>
        <ion-item>
          <h2>there are no new messages</h2>
        </ion-item>
      </ion-card-header>
    </ion-card>



    <ion-card *ngFor="let message of messages" (click)="openModal(message)">
      <ion-item [color]="messageColor(message)">
        <ion-avatar item-start>
          <img [src]="message.user.avatar">
        </ion-avatar>
        <h2>{{message.user.name}}</h2>
        <p>{{message.type}}</p>
        <small>{{message.created_at}}</small>
      </ion-item>
    </ion-card>



  </ion-content>